body{
    margin: 0 auto;
    max-width: 50em;
    font-family: 'Normal', 'Calibri', sans-serif;
    line-height: 120%;   
    padding: 2em 0.5em;
    color: #555;   
}

h1 {
    color: #333;
    text-transform: uppercase;
}

h3 {
    color: #333;
    text-transform: uppercase;

}

h4 {
    color: #333;
    text-transform: uppercase;
}

.upsidebar {
    font-size: 12px;
    padding-top: 50px;
    width: 200px;
    height: 150px;
    text-align: center;
}
.sidebar {
    font-size: 12px;
    padding-top: 50px;
    text-align: center;
    width: 200px;
    height: 800px;
    background-color: darkblue;

}
.upcenterbar {
    width: 600px;
    height: 150px;
    left: 600px;
    top: 50px;
    position: absolute;

}
.centerbar {
    width: 600px;
    height: 800px;
    text-align: left;
    left: 600px;
    position: absolute;
}